name: Unit Testing
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    # "setup-python" action doesn't provide python 3.4 binaries for ubuntu-latest.
    # Sticking to Ubuntu 18.04 as recommended here:
    # https://github.com/actions/setup-python/issues/185#issuecomment-768232756
    runs-on: ubuntu-18.04
    env:
      py27: 2.7
      py34: 3.4
      py35: 3.5
      py36: 3.6
      py37: 3.7
      py38: 3.8
      py39: 3.9
      py310: '3.10'
      py311: '3.11'
    strategy:
      fail-fast: false
      matrix:
        python-version: [py27, py34, py35, py36, py37, py38, py39, py310, py311]
        testenv: [core, ext]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env[matrix.python-version] }}

      - name: Install tox
        run: pip install "tox<=3.27.1" -U tox-factor

      - name: Cache tox environment
        # Preserves .tox directory between runs for faster installs
        uses: actions/cache@v3
        with:
          path: |
            .tox
            ~/.cache/pip
          key: tox-cache-${{ matrix.python-version }}-${{ matrix.testenv }}-${{ hashFiles('tox.ini') }}

      - name: Run tox
        run: |
          tox -f ${{ matrix.python-version }}-${{ matrix.testenv }}
